@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap');

*{
    
    box-sizing: border-box;
    
}
html,body{
    
    margin: 0;
    padding: 0;
    
}



ul{
    list-style: none;
    padding-left: 0.5em;
}

.socials{
    display: initial;
    visibility: visible;
}

.socials i{
    padding: 0 .3em;
    color: white;
}
#dm{
    
    visibility: visible;
    display: grid;
    grid-template-columns: 95% 5%;
    color: white;
    background: black;
    margin: 0;
    padding: 0.5em;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    width: 100%;
    position: fixed;
}
h3{
    margin: 0;
    text-align: center;
}
h3 a{
    color: white;
    text-decoration: none;
}
/*.search input[input=text]{

}
*/

.the-website{
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  
}
.the-website > div {
 
    height: 200px;
}

.perso{
    display: grid;
   grid-template-columns: repeat(4, 1fr);
}


.fas{
    display: none;
    visibility: hidden;
}

.overlay{
    display: none;
    visibility: hidden;
}

footer{
   
    position: fixed;
    bottom: 0;
    background: #123740;
    width: 100%;
    

}
footer p{
    
    color: white;
    font-size: 1em;
    text-align: center;
}
footer a{
    color: orangered;

}
img{
    cursor: pointer;
}
.bx1{
    display: grid;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 800px){
  
    h3 a{
        font-size:0.8em;
    }
    .the-website{
        padding: 2em 0;
    }
}

@media only screen and (max-width:500px) {
  
    .socials{
        display: none;
        visibility: hidden;
    }
    .fas{
        padding-left: 1em;
        color: white;
        font-size: 2em;
        display: initial;
        visibility: visible;
    }



    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
       background: black;
        overflow-x: hidden;
        transition: 0.5s;
        border-bottom: 10px solid #2a736a;
        visibility: visible;
        display: initial;
      }
     
      .overlay .closebtn {
        position: absolute;
        top:0;
        right: 1em;
        font-size: 3em;
        color: white;
      }
    
    .both{
      
        height: 100%;
        display: grid;
        align-content: center;
        text-align: center;
    }
    
    .both2 ul {
        padding-left: 0;
        
    }
    .both2 li{
        display: inline-block;
    }
    .both2 i {
        color: white;
        font-size: 1.5em;
        padding: 0 0.5em;
    }
    .dm{
        width: 100%;
    }
    
}

@media only screen and (max-width:425px){
    h3 a{
        font-size:0.7em;
    }
}